section#action
	.container
		.row.align-items-end
			.col-lg-5
				h2 Акция!
				p.action-end.mb-0 До 31 октября установка окон 
				a(href="#") бесплатно
				p.mb-0.small До конца акции:
				#clockdiv
					div
						span.days
						.smalltext дн.
					div
						span.hours
						.smalltext чс.
					div
						span.minutes
						.smalltext мин.
					div
						span.seconds
						.smalltext сек.

			.col-lg-7.img-block
				img.img-fluid(src="assets/img/action-people.png", alt="People")