header#header
	div.bg-white
		.container
			.row.align-items-center.justify-content-between
				.col-lg-3.header__logo
						img(src="assets/img/logo.png" width="30px", alt="Logo") 
						span INSIDE WINDOWS
				.col-lg-4.text-center.intro Окна от лучших мировых производителей
				.col-lg-5.block-right  
					a(href="").number + 38 (044) 812-23-12
					button.btn.btn-green.pl-5 Заказать звонок
	div.bg-green
		.container
			nav.navbar.navbar-expand-lg
					button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarMenu', aria-controls='navbarSupportedContent', aria-expanded='false',aria-label='Toggle navigation')
						span.navbar-toggler-icon
					#navbarMenu.collapse.navbar-collapse
						ul.navbar-nav 
							li.nav-item.active
								a.nav-link(href='#') Главная
							li.nav-item
								a.nav-link(href='#') Продукция
							li.nav-item
								a.nav-link(href='#') Наши Услуги
							li.nav-item
								a.nav-link(href='#') Кредит
							li.nav-item
								a.nav-link(href='#') Акции
							li.nav-item
								a.nav-link(href='#') Новости
							li.nav-item
								a.nav-link(href='#') доставка
							li.nav-item
								a.nav-link(href='#') Оплата
							li.nav-item
								a.nav-link(href='#') Контакты
							li.nav-item
								button gj
	div.header__slider
		.container
			.swiper-container
				.swiper-wrapper
					.swiper-slide 
						h3 Установка и доставка окон от производителя
						p Равным образом укрепление и развитие структуры играет важную роль в формир овании дальнейших направлений развития. Богатый опыт консультация с широким активом 
					.swiper-slide 
						h3 2Установка и доставка окон от производителя
						p Равным образом укрепление и развитие структуры играет важную роль в формир овании дальнейших направлений развития. Богатый опыт консультация с широким активом  
					.swiper-slide 
						h3 3Установка и доставка окон от производителя
						p Равным образом укрепление и развитие структуры играет важную роль в формир овании дальнейших направлений развития. Богатый опыт консультация с широким активом 
					.swiper-slide 
						h3 4Установка и доставка окон от производителя
						p Равным образом укрепление и развитие структуры играет важную роль в формир овании дальнейших направлений развития. Богатый опыт консультация с широким активом 
				.swiper-pagination
				// Add Arrows
				.swiper-button-next
				.swiper-button-prev