section#video
	.container
		h2 Видео
		.swiper-container
			.swiper-wrapper
					.swiper-slide 
						img.img-fluid(src="assets/img/video-man.jpg", alt="video man")
						h5 Таким образом реализация намеченных плановых заданий 
						p  Не следует, однако забывать, что начало повседневной работы по формированию позиции способствует подготовки и реализации системы обучения кадров
					.swiper-slide 
						img.img-fluid(src="assets/img/video-man2.jpg", alt="video man")
						h5 Равным образом укрепление и развитие структуры играет важную
						p  Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание 
					.swiper-slide 
						img.img-fluid(src="assets/img/video-man.jpg", alt="video man")
						h5 Таким образом реализация намеченных плановых заданий 
						p  Не следует, однако забывать, что начало повседневной работы по формированию позиции способствует подготовки и реализации системы обучения кадров
					.swiper-slide 
						img.img-fluid(src="assets/img/video-man2.jpg", alt="video man")
						h5 Равным образом укрепление и развитие структуры играет важную
						p  Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание
					.swiper-slide 
						img.img-fluid(src="assets/img/video-man.jpg", alt="video man")
						h5 Таким образом реализация намеченных плановых заданий 
						p  Не следует, однако забывать, что начало повседневной работы по формированию позиции способствует подготовки и реализации системы обучения кадров
			.swiper-pagination
			.swiper-button-next
			.swiper-button-prev